numpy==1.26.4
tensorflow==2.16.1
opencv-python==4.6.0
matplotlib==3.8.4

# pycoral needs to be installed with a special command
# Run the following command separately:
# python3 -m pip install --extra-index-url https://google-coral.github.io/py-repo/ pycoral~=2.0
